[Unit]
Description=Bandwidth Occupier Service

[Service]
User=root
ExecStartPre=/bin/bash -c 'kill $(ps -efA | grep bandwidth_occupier.sh | awk "{print $2}")'
ExecStart=/bin/bash /usr/local/bin/bandwidth_occupier.sh
Restart=always

[Install]
WantedBy=multi-user.target
