[Unit]
Description=Bandwidth Occupier Service

[Service]
ExecStart=kill $(ps -efA | grep bandwidth_occupier.sh | awk '{print $2}') && /bin/bash /usr/local/bin/bandwidth_occupier.sh

[Install]
WantedBy=multi-user.target
