[Unit]
Description=Keep CPU usage

[Service]
User=root
ExecStart=/bin/bash /usr/local/bin/cpu-limit.sh
ExecStop=/bin/bash -c 'kill $(cat /tmp/cpu-limit.pid) && rm -rf /tmp/cpu-limit.pid'
Restart=always
RestartSec=60s
RestartKillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
