[Unit]
Description=Keep CPU usage under 20%

[Service]
User=root
ExecStart=kill $(ps -efA | grep cpu-limit.sh | awk '{print $2}') && /bin/bash /usr/local/bin/cpu-limit.sh
Restart=always

[Install]
WantedBy=multi-user.target
