[Unit]
Description=Keep memory usage under 15%

[Service]
User=root
ExecStart=kill $(ps -efA | grep memory-limit.sh | awk '{print $2}') && /bin/bash /usr/local/bin/memory-limit.sh
Restart=always

[Install]
WantedBy=multi-user.target
